@page {
  size: letter portrait;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

/* Botón de impresión */
.print-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 8px 12px;
  background: #2980b9;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

/* Página */
.page {
  width: 216mm;
  min-height: 279mm;
  /*background: url("../img/logo2.jpg") no-repeat center center;*/
  background-size: 100% 100%;
  padding: 15mm;
  box-sizing: border-box;
}



.contenido {
 /*   height: 100%; padding: 55px 30px; arriba/abajo | lados */
  width: 100%;
 padding: 0px 30px 20px 30px;
  box-sizing: border-box;
     line-height: 1.2;
}

.titulo {
    font-size: 14px;
    text-transform: uppercase;
}


/* TABLAS */
table {
  width: 100%;
  border-collapse: collapse;
   text-transform: uppercase;
   
}

/* Encabezados de tabla */
table th {
  border: 1px solid #b5b5b5;
  padding: 6px;
  font-size: 14px;
  text-align: center;
}

table td {
  border: 1px solid #c8c8c8;
  padding: 6px;
  font-size: 13px;
  height: 26px;
}
/* Columnas específicas */
.col-dia {
  width: 150px;
}

.col-asistencia {
  width: 90px;
  text-align: center;
}

/* Tabla informativa superior */
.info-table td {
  padding: 4px 6px;
  font-size: 14px;
}

table .fila-detalle-datos td {
    color: #000000;
    font-size: 12px;
    padding: 6px 8px;
    vertical-align: middle;
}


/* Asistencia */
.asistencia-cell {
  width: 30px;
  height: 22px;
}

/* Salto de página */
.page-break {
  page-break-after: always;
}

/* Impresión */

@media print {
  body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  .print-btn {
    display: none;
  }
}


/* Recuadros de asistencia por hora */
.col-asistencia {
  width: 90px;
}

.info-table {
    width: 100%;
    table-layout: fixed; /* OBLIGATORIO */
    border-collapse: collapse;
}

.info-table td {
    padding: 6px 8px;
    vertical-align: middle;
    overflow-wrap: break-word;
}

.encabezado {
  text-align: right;
  font-size: 14px;
   padding: 55px 0px 10px 0px;

}

@media print {
  form {
    display: none;
  }
}


.texto p {
    text-align: justify;
    margin-bottom: 8px;
    font-size: 13px;
}

/* Bienvenida */
.bienvenida {
    text-align: center !important;
    text-indent: 0 !important;
}



/* Colores institucionales */
.bienvenida-naranja {
    color: #e67e22;
    font-weight: bold;
    font-size: 20px;
}

.bienvenida-azul {
    color: #0c2958;
    font-weight: bold;
    font-size: 20px;
}

/* Fila del docente */
.fila-docente {
    background: #0c2958;
    color: #ffffff; /* Azul fuerte */
    font-size: 14px;
    padding: 8px;
    text-align: center;
}


/* Fila de detalles */
.fila-detalle  {
        background: #e8f2fc;

    color: #000000; /* Azul más bajo */
    font-size: 13px;
}

/* Contenedor de firma */
.firma {
    position: relative; /* referencia interna */
    text-align: center;
    font-size: 14px;
}

/* Imagen de firma */
.firma-imagen {
    position: absolute;
    top: -20px;            /* sube la firma sobre “Atentamente” */
    left: 50%;
    transform: translateX(-50%);
    pointer-events: none; /* impresión limpia */
}

/* Imagen */
.firma-imagen img {
    max-width: 100px;
    height: auto;
}

/* Texto */
.firma-atentamente,
.firma-nombre,
.firma-cargo {
    margin: 0;
    padding: 0;
    line-height: 1.3;
    text-transform: uppercase;
}

.firma-atentamente,
.firma-nombre{
    margin-top: 0;
    font-weight: bold;
}


/* ====== CONTROL DE PAGINADO ====== */
table {
  page-break-inside: auto;
}

tr {
  page-break-inside: avoid;
  page-break-after: auto;
}

thead {
  display: table-header-group;
}

.firma {
  page-break-inside: avoid;
}


