@page {
  size: letter portrait;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

/* Botón de impresión */
.print-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 8px 12px;
  background: #2980b9;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

/* Página */
.page {
  width: 216mm;
  min-height: 279mm;
  /*background: url("../img/logo2.jpg") no-repeat center center;*/
  background-size: 100% 100%;
  padding: 15mm;
  box-sizing: border-box;
}



.contenido {
  padding: 55px 30px; /* arriba/abajo | lados */
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}


/* TABLAS */
table {
  width: 100%;
  border-collapse: collapse;
   text-transform: uppercase;
   
}

/* Encabezados de tabla */
table th {
  border: 1px solid #b5b5b5;
  padding: 6px;
  font-size: 14px;
  text-align: center;
}

table td {
  border: 1px solid #c8c8c8;
  padding: 6px;
  font-size: 13px;
  height: 26px;
}
/* Columnas específicas */
.col-dia {
  width: 150px;
}

.col-asistencia {
  width: 90px;
  text-align: center;
}

/* Tabla informativa superior */
.info-table td {
  padding: 4px 6px;
  font-size: 14px;
}

/* Asistencia */
.asistencia-cell {
  width: 30px;
  height: 22px;
}

/* Salto de página */
.page-break {
  page-break-after: always;
}

/* Impresión */

@media print {
  body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  .print-btn {
    display: none;
  }
}


/* Recuadros de asistencia por hora */
.col-asistencia {
  width: 90px;
}

.info-table {
    width: 100%;
    table-layout: fixed; /* OBLIGATORIO */
    border-collapse: collapse;
}

.info-table td {
    padding: 6px 8px;
    vertical-align: middle;
    overflow-wrap: break-word;
}

.encabezado {
  text-align: right;
  font-size: 14px;
}

@media print {
  form {
    display: none;
  }
}




.texto p {
    text-align: justify;
    text-indent: 2.5em; /* Sangría formal */
    margin-bottom: 14px;
    line-height: 1.6;
    font-size: 14px;
}

/* Bienvenida */
.bienvenida {
    text-align: center !important;
    text-indent: 0 !important;
}



/* Colores institucionales */
.bienvenida-naranja {
    color: #e67e22;
    font-weight: bold;
    font-size: 15px;
}

.bienvenida-azul {
    color: #1f4fa3;
    font-weight: bold;
    font-size: 15px;
}

/* Fila del docente */
.fila-docente {
    background: #0c2958;
    color: #ffffff; /* Azul fuerte */
    font-size: 14px;
    padding: 8px;
    text-align: center;
}


/* Fila de detalles */
.fila-detalle  {
    background: #b9dafa;
    color: #000000; /* Azul más bajo */
    font-size: 13px;
}



/* Firma */
.firma {
    margin-top: 40px;
    text-align: center;
    line-height: 1.4;
}

/* ATENTAMENTE */
.firma-atentamente {
    font-weight: bold;
    margin-bottom: 25px;
}

/* Imagen de la firma */
.firma-imagen img {
    max-width: 180px;
    height: auto;
    margin-bottom: 20px;
}

/* Nombre */
.firma-nombre {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 5px;
}

/* Cargo */
.firma-cargo {
    font-size: 13px;
}


