@page {
  size: letter portrait;
  margin: 15mm;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

/* Botón de impresión */
.print-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 8px 12px;
  background: #2980b9;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

/* Página */
.page {
  width: 216mm;
  min-height: 279mm;
  background: url("../img/logo2.jpg") no-repeat center center;
  background-size: 100% 100%;
  padding: 15mm;
  box-sizing: border-box;
}


.contenido {
  padding: 10px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}


/* TABLAS */
table {
  width: 100%;
  border-collapse: collapse;
   text-transform: uppercase;
   
}

/* Encabezados de tabla */
table th {
  border: 1px solid #b5b5b5;
  padding: 6px;
  font-size: 14px;
  text-align: center;
}

table td {
  border: 1px solid #c8c8c8;
  padding: 6px;
  font-size: 13px;
  height: 26px;
}


/* Columnas específicas */
.col-dia {
  width: 150px;
}

.col-asistencia {
  width: 90px;
  text-align: center;
}

/* Tabla informativa superior */
.info-table td {
  padding: 4px 6px;
  font-size: 14px;
}

/* Asistencia */
.asistencia-cell {
  width: 30px;
  height: 22px;
}

/* Salto de página */
.page-break {
  page-break-after: always;
}

/* Impresión */

@media print {
  body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  .print-btn {
    display: none;
  }
}


/* Recuadros de asistencia por hora */
.col-asistencia {
  width: 90px;
}

.info-table {
    width: 100%;
    table-layout: fixed; /* OBLIGATORIO */
    border-collapse: collapse;
}

.info-table td {
    padding: 6px 8px;
    vertical-align: middle;
    overflow-wrap: break-word;
}
